body{
  font-family: serif;
  
}
div{
  border: 5px solid;
 
}
* {
    box-sizing: border-box;
  }
  
  .flex-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: black;
    color: yellow;
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: yellow;
    color: black;
    border-color: black;
    padding: 10px;
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }